$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower
@import url('https://fonts.googleapis.com/css?family=Montez');

body {
  font-family: 'Montez', cursive;
}

#bg {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: none no-repeat;
  background-size: cover;
  z-index: -100;
}

.logo {
  a {
    text-decoration: none;
    font-size: 40px;
    line-height: 84px;
    transition: 0.5s ease-in-out;
  }
  .white {
    color: #fff;
  }
  .red {
    color: #f70211;
  }
}

.callback {
  a {
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    transition: 0.5s ease-in-out;
  }
  a:hover {
    color: #f70211;
  }
  .phone {
    float: left;
    font-size: 40px;
    margin-right: 15px;
    .glyphicon-earphone {
      padding-top: 20px;
    }
  }
}

nav {
  display: block;
  position: relative;
  background: #333;
  ul {
    max-width: 900px;
    margin: 0 auto;
    padding-left: 0;
    list-style: none;
    overflow: hidden;
    li {
      float: left;
      width: 20%;
      a {
        text-decoration: none;
        text-align: center;
        display: block;
        color: #fff;
        font-size: 40px;
        text-transform: uppercase;
        font-weight: bold;
        padding: 10px 0;
        letter-spacing: 2px;
        transition: 0.5s ease-in-out;
      }
      a:hover {
        color: #f70211;
        text-decoration: none;
      }
      a:focus {
        color: #f70211;
        text-decoration: none;
      }
    }
  }
}

.content {
  h1 {
    font-size: 52px;
    font-weight: bold;
    margin: 100px 0 50px 0;
  }
  .col-left {
    margin-top: 30px;
    h3 {
      font-size: 40px;
    }
    p {
      font-size: 24px;
    }
  }
  .col-center {
    img {
      max-width: 100%;
      border-radius: 200px;
    }
  }
  .col-right {
    margin-top: 30px;
    h3 {
      font-size: 40px;
    }
    p {
      font-size: 24px;
    }
  }
}

.footer {
  margin-top: 100px;
  p {
    color: #f70211;
    font-size: 24px;
  }
}

* {
   box-sizing:border-box; 
}

body { -webkit-animation: bugfix infinite 1s; }
@-webkit-keyframes bugfix { from {padding:0;} to {padding:0;} }

input[type=checkbox] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

label { 
  display:none;
  cursor: pointer;
  user-select:none;
}

nav[role="custom-dropdown"] {
  position:relative;
  width: 100%;
}

@media screen and (max-width: 991px) {
  html,
  body {
    margin:0;      
  }

  .logo {
    a {
      font-size: 32px;
      line-height: 66px;
    }
  }

  .callback {
    .phone {
      font-size: 25px;
    }
    a {
      font-size: 24px;
    }
  }
  
  nav[role="custom-dropdown"] {
    color: #fff;
    ul {
      display:none;
      height:100%;
      li {
        float: none;
        margin: 0 auto;
        a {
          font-size: 20px;
        }
      }
    }

    label {
      position:relative;
      display:block;
      width:100%;
      min-height:2.25em;
      padding:.45em;
      font-size:1.1em;
      margin:0;
      border: .15em solid rgba(60, 60, 60, .2);
      background-image: #333;
    }
    
    label:after {
      position: absolute;
      right: .25em;  
      top: 0; 
      content:"\2261";
      font-size:1.8em;
    }
    
    input[type=checkbox]:checked ~ label:after {
      color:#f70211;
    }
        
    input[type=checkbox]:checked ~ ul {
      display:block;
    }
  }
}
